@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap");

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: url(assets/fondo-pizzas.jpg);
    font-family: "Poppins";
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    width: 500px;
    height: 820px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.logo {
    width: 140px;
    height: 140px;
    position: absolute;
    top: 15%;
    left: calc(50% - 75px);
}


.titulo {
    color: rgb(255, 255, 0);
    font-family: "Poppins";
    margin-top: 300px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 35px;
}

h2 {
    font-size: 30px;
}
.form {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 500px;
    text-align: center;
    
}

.form-text {
    display: flex;
    flex-direction: column;
    position:static;
    width: 300px;
    height: 500px;
    
}

.form-text button {
    border: none;
    outline: none;
    height: 30px;
    background: #ecb00a;
    color: rgb(0, 0, 0);
    font-size: 20px;
    border-radius: 20px;
    font-family: "Poppins";
}

.form-text button:hover {
    cursor: pointer;
    background: rgb(255, 255, 255);
    color: rgb(245, 133, 4);
}

.card-img {
    width: 220px;
    height: 220px;
}

